@{
    ViewBag.Title = "Meeting Apply";
}
<main class="text-center">
<h1>Meeting Summary</h1>
<p>30 other person is joining meeting include you</p>
<a href="/meeting/list" class="btn btn-sm btn-outline-primary">List Participants</a>
</main>