@{
    ViewBag.Title = "Participant List";
}
<main class="text-center">
<h1>Meeting Participant List</h1>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Participant St.</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mert</td>
            <td>mert@gmail.com</td>
            <td>Yes</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Detail</a>
            </td>
        </tr>
        <tr>
            <td>Dogan</td>
            <td>dogan@gmail.com</td>
            <td>Yes</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Detail</a>
            </td>
        </tr>
        <tr>
            <td>Mertdogan</td>
            <td>mertdogan@gmail.com</td>
            <td>Yes</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Detail</a>
            </td>
        </tr>
    </tbody>
</table>
</main>